*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
nav{
    background-color: #8037e6;
}
#dropdownMenuButton1{
    color: #fffff;
    background-color: #8037e6;

}
.dropdown-item:hover{
 background-color: #8037e6;
 color:#ffffff;
 transition: 0.4s;
}
#heading{
    color: #8037e6;
}
.button{
    background-color: #8037e6;
    color: #ffffff;
}
.bar{
    background-color: #8037e6;
}
.icons{
    color: #8037e6;
}
.demo{
    color:#8037e6;
}